ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
font-family: 'Cinzel Decorative';
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.background {
	background-image: url("img/head.jpeg");
	height: 600px;
	text-align: center;
	padding:150px;
	color: white;
	font-family: 'Calligraffitti';
}

.background h3 {
	font-size: 30px;
}

.background a h1 {
	border: 5px solid white;
	margin: auto;
	font-size: 40px;
	width: 500px;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Cinzel Decorative';
}

.background a {
	text-decoration: none;
}

div.gallery {
    border: 1px solid #ccc;
	margin: 25px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 50px 0px;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.text{
	text-align:center;
	padding:50px
}

footer {
	background-color: #333;
	border: 1px solid #333;
	color: white;
	text-align: center;
	padding: 10px;
}
